@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");

body {
  background-color: #f4f7f2;
  margin: 0%;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: relative;
}

#header div {
  display: flex;
}

#header div p {
  display: flex;
  align-items: center;
}

#header #header-title-box {
  margin-left: 5vw;
}

#header #header-title-box #header-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc(12px + 1vw);
}

/* Hamburger Menu Styles */
.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: #163d3b;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger-menu.active .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger-menu.active .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Navigation Menu Styles */
#header #header-navigation {
  width: 30vw;
  justify-content: space-between;
}

#header #header-navigation p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: calc(9px + 0.4vw);
  transition: font-weight 0.1s, text-decoration 0.1s;
  cursor: pointer;
}

#header #header-navigation p:hover {
  font-weight: 400;
  text-decoration: underline;
}

#header #header-signup-box {
  margin-right: 5vw;
  cursor: pointer;
}

#header #header-signup-box p {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: calc(9px + 0.4vw);
  background-color: #163d3b;
  padding: 8px 30px;
  color: #dff8f8;
  border-radius: 30px;
  vertical-align: middle;
  align-items: center;
  max-height: 50px;
}

#main {
  display: flex;
  flex-direction: row;
  margin: 5vw;
  justify-content: space-between;
}

#main .welcome {
  font-weight: 600;
  font-size: calc(7px + 0.4vw);
  background-color: #f8e1ca;
  color: #eda950;
  width: fit-content;
  padding: 0px 15px;
  border-radius: 15px;
}

.main-text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-style: normal;
  font-size: calc(9px + 0.4vw);
}

.main-heading {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: calc(20px + 1.5vw);
  line-height: 1.6;
}

.main-left-links {
  display: flex;
  flex-direction: row;
}

.main-left-links .links-text {
  display: inline-flex;
  margin-right: 1vw;
  padding: 0px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: calc(9px + 0.4vw);
  min-height: calc(50px - 0.4vw);
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
}

.main-left-links .features-box {
  background-color: #f7b86e;
  color: #544c1e;
}

.main-left-links .try-box {
  border: solid 1px;
}

.main-right {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
}

.main-right-box {
  background-color: #dae6d7;
  width: 30vw;
  border-radius: 15px;
}

.main-right-upper-box {
  margin: 20px;
  background-color: #f5f9f3;
  border-radius: 15px;
}

.main-right-upper-box .right-text-div {
  padding: 15px;
}

.main-right-upper-box .right-text {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc(12px + 0.4vw);
}

.main-right-upper-box .main-right-upper-box-progress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-right-upper-box .main-right-upper-box-progress .small {
  font-weight: 300;
  padding: 15px;
}

.main-right-search {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  z-index: 0;
  justify-content: center;
}

.main-right-search .search-icon {
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  width: 16px;
  margin: 20px 20px;
}

.main-right-search .main-right-search-form-input {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #dfe9d7;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  width: calc(30vw - 130px);
  margin: 10px 15px;
}

.search-parameters-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0px;
}

.search-parameters-div .search-parameters-select {
  display: flex;
  border: none;
  background-color: rgba(165, 201, 160, 0.5607843137);
  color: #000000;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.search-parameters-div .search-parameters-select:focus {
  outline: none;
  background-color: rgba(165, 201, 160, 0.8156862745);
}

.search-parameters-div .search-parameters-option {
  border: none;
  border-radius: 30px;
  padding: 10px;
  background-color: rgba(165, 201, 160, 0.8156862745);
  color: #2E2E2E;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin: 5vw;
}

.footer .footer-left-box {
  max-width: 20vw;
}

.footer .footer-left-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc(12px + 0.4vw);
  letter-spacing: 0.1px;
}

.footer .footer-left-text {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-style: normal;
  font-size: calc(9px + 0.4vw);
}

.footer .footer-left-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: calc(9px + 0.4vw);
  color: #6b6eb9;
  cursor: pointer;
}

.footer-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}

.footer-right .footer-right-box {
  width: 16vw;
  margin: 0px 2vw;
  cursor: pointer;
  border-radius: 20px;
  padding: 1vw;
}

.footer-right .footer-right-box:hover {
  background-color: #e6ebe5;
}

.footer-right .footer-right-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: calc(14px + 0.4vw);
  letter-spacing: 0.1px;
}

.footer-right .footer-right-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-style: normal;
  font-size: calc(9px + 0.4vw);
}

/* RESPONSIVE BREAKPOINTS */

/* Tablet styles (768px and down) */
@media screen and (max-width: 768px) {
  #header {
    flex-wrap: wrap;
    padding: 15px 0;
  }

  #header #header-title-box {
    margin-left: 3vw;
  }

  #header #header-navigation {
    width: 40vw;
    justify-content: space-around;
  }

  #header #header-navigation p {
    font-size: calc(10px + 0.5vw);
  }

  #header #header-signup-box {
    margin-right: 3vw;
  }

  #header #header-signup-box p {
    padding: 8px 20px;
    font-size: calc(10px + 0.5vw);
  }

  #main {
    flex-direction: column;
    margin: 4vw;
    gap: 30px;
  }

  .main-right {
    width: 100%;
    align-items: center;
  }

  .main-right-box {
    width: 80vw;
    max-width: 500px;
  }

  .main-right-search .main-right-search-form-input {
    width: calc(80vw - 130px);
    max-width: calc(500px - 130px);
  }

  .footer {
    flex-direction: column;
    gap: 30px;
    margin: 4vw;
    align-items: center;
  }

  .footer .footer-left-box {
    max-width: 100%;
    text-align: center;
  }

  .footer-right {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }

  .footer-right .footer-right-box {
    width: calc(50% - 40px);
    margin: 10px;
    min-width: 250px;
    text-align: center;
  }
}

/* Mobile styles (600px and down) */
@media screen and (max-width: 600px) {
  /* Mobile Header Layout - Logo | Signup | Hamburger */
  #header {
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
  
  #header #header-title-box {
    margin-left: 5vw;
    order: 1;
  }
  
  #header #header-signup-box {
    order: 2;
    margin-right: 0;
    margin-left: auto;
  }
  
  .hamburger-menu {
    display: flex;
    order: 3;
    position: static;
    margin-right: 5vw;
    transform: none;
  }

  #header #header-navigation {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f4f7f2;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    order: 4;
  }

  #header #header-navigation.show {
    display: flex;
  }

  #header #header-navigation p {
    padding: 15px 20px;
    margin: 5px 0;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    justify-content: center;
    font-size: calc(12px + 0.5vw);
  }

  #header #header-navigation p:last-child {
    border-bottom: none;
  }

  #header #header-signup-box p {
    padding: 8px 15px;
    font-size: 12px;
  }

  .main-heading {
    font-size: calc(18px + 2vw);
  }

  .main-left-links {
    flex-direction: column;
    gap: 10px;
  }

  .main-left-links .links-text {
    margin-right: 0;
    text-align: center;
    justify-content: center;
  }

  .main-right-box {
    width: 90vw;
  }

  .main-right-search .main-right-search-form-input {
    width: calc(90vw - 130px);
  }

  .footer-right .footer-right-box {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
}

/* Small mobile styles (480px and down) */
@media screen and (max-width: 480px) {
  #header #header-title-box {
    margin-left: 4vw;
  }

  #header #header-title-box #header-title {
    font-size: calc(14px + 1.5vw);
  }

  .hamburger-menu {
    margin-right: 4vw;
  }

  #main {
    margin: 4vw 2vw;
  }

  .main-heading {
    font-size: calc(16px + 3vw);
    line-height: 1.4;
  }

  .main-text {
    font-size: calc(10px + 0.8vw);
  }

  .main-right-upper-box {
    margin: 15px;
  }

  .main-right-search .search-icon {
    width: 14px;
    margin: 18px 15px;
  }

  .main-right-search .main-right-search-form-input {
    padding: 8px 25px;
    font-size: 14px;
    width: calc(90vw - 110px);
  }

  .footer {
    margin: 4vw 2vw;
  }

  .footer .footer-left-heading,
  .footer-right .footer-right-heading {
    font-size: calc(12px + 0.8vw);
  }

  .footer .footer-left-text,
  .footer-right .footer-right-text {
    font-size: calc(10px + 0.6vw);
  }

  .footer-right .footer-right-box {
    padding: 20px;
    margin: 10px 0;
  }
}

/* Extra small mobile styles (360px and down) */
@media screen and (max-width: 360px) {
  #header #header-title-box #header-title {
    font-size: 16px;
  }

  #header #header-signup-box p {
    padding: 8px 10px;
    font-size: 10px;
  }

  .hamburger-menu {
    margin-right: 4vw;
    width: 25px;
    height: 20px;
  }

  .main-heading {
    font-size: 22px;
  }

  .main-text {
    font-size: 12px;
  }

  .main-left-links .links-text {
    padding: 0px 20px;
    font-size: 12px;
    min-height: 40px;
  }

  .main-right-box {
    width: 95vw;
  }

  .main-right-search .main-right-search-form-input {
    width: calc(95vw - 100px);
    padding: 6px 20px;
    font-size: 12px;
  }

  .right-text {
    font-size: 14px !important;
  }

  .footer .footer-left-heading,
  .footer-right .footer-right-heading {
    font-size: 14px;
  }

  .footer .footer-left-text,
  .footer-right .footer-right-text {
    font-size: 11px;
  }

  .footer-right .footer-right-box {
    padding: 15px;
    margin: 8px 0;
  }
}