.heading1{
    text-align: center;
    margin-top: 7%;
    font-size: calc(14px+8vw);

}
.content{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: rgb(90, 134, 90);
    margin-bottom: 6%;

}
.footer-heading{
    margin: 15%;
}
.features-heading {
    text-align: center;
    font-size: calc(18px + 0.4vw);
    margin-bottom: 30px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 0 50px;
    margin-bottom: 5%;
    text-align: center;
    display: flex;

}

.box-feature {
    /* background-color: #e4f5e9; */
    border: 2px solid #163d3b;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    background-color: white;
}

.box-feature:hover {
    transform: translateY(-9px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.box-feature i {
    font-size: 30px;
    color: #eda950;
    margin-bottom: 12px;
}

.feature-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.feature-desc {
    font-size: 14px;
    color: #444;
}

.why {
    /* background-color: #f5fdf7; */
    padding: 60px 30px;
    text-align: center;
}

.why-heading {
    font-size: calc(20px + 1vw);
    color: #eda950;
    margin-bottom: 40px;
}

.why-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.why-card {
    background-color: #ffffff;
    border: 2px solid #eda950;
    border-radius: 15px;
    padding: 25px;
    width: 280px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.why-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}

.why-card i {
    font-size: 32px;
    color: #163d3b;
    margin-bottom: 15px;
}

.why-card h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.why-card p {
    font-size: 14px;
    color: #555;
}
.notesvault-section {
  padding: 30px;
  font-family: 'Segoe UI', sans-serif;
}

.section {
  margin-bottom: 40px;
  background-color: #f5f9f5;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.section h2 {
  color: #4bac4b;
  margin-bottom: 10px;
}

.section ul {
  padding-left: 20px;
}

.section ul li {
  margin-bottom: 10px;
}

blockquote {
  background-color: #e6f4ea;
  padding: 10px 15px;
  border-left: 5px solid #4CAF50;
  font-style: italic;
  margin: 15px 0;
}

.linktogithub{
    text-decoration: none;
}